---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer";
import HeroPages from "../components/HeroPages";
import CarImg1 from "../images/cars-big/audi-box.png";
import CarImg2 from "../images/cars-big/golf6-box.png";
import CarImg3 from "../images/cars-big/toyota-box.png";
import CarImg4 from "../images/cars-big/bmw-box.png";
import CarImg5 from "../images/cars-big/benz-box.png";
import CarImg6 from "../images/cars-big/passat-box.png";
---


<Layout title="models">
    <section class="models-section">
        <HeroPages name="Vehicle Models" client:load />
        <div class="container">
          <div class="models-div">
            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg1.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>Audi A1</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$45</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Audi
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg2.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>Golf 6</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$37</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; VW
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg3.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>Toyota</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$30</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Camry
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg4.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>BMW 320</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$35</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; ModernLine
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg5.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>Mercedes</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$50</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Benz GLK
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="models-div__box">
              <div class="models-div__box__img">
                <img src={CarImg6.src} alt="car_img" />
                <div class="models-div__box__descr">
                  <div class="models-div__box__descr__name-price">
                    <div class="models-div__box__descr__name-price__name">
                      <p>VW Passat</p>
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                    <div class="models-div__box__descr__name-price__price">
                      <h4>$25</h4>
                      <p>per day</p>
                    </div>
                  </div>
                  <div class="models-div__box__descr__name-price__details">
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; CC
                    </span>
                    <span style={{ textAlign: "right" }}>
                      4/5 &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                    <span>
                      <i class="fa-solid fa-car-side"></i> &nbsp; Manual
                    </span>
                    <span style={{ textAlign: "right" }}>
                      Diesel &nbsp; <i class="fa-solid fa-car-side"></i>
                    </span>
                  </div>
                  <div class="models-div__box__descr__name-price__btn">
                    <a onClick={() => window.scrollTo(0, 0)} href="/">
                      Book Ride
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="book-banner">
          <div class="book-banner__overlay"></div>
          <div class="container">
            <div class="text-content">
              <h2>Book a car by getting in touch with us</h2>
              <span>
                <i class="fa-solid fa-phone"></i>
                <h3>(123) 456-7869</h3>
              </span>
            </div>
          </div>
        </div>
        <Footer client:load/>
      </section>
</Layout>